.nome{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    font-weight: 500;
}

.paragrafos{
    font-family: 'Quicksand', sans-serif;
}

.titulos{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}